.u-footer {
    position: relative;
    padding: 2.5rem 0;
    background-color: #fff;
    box-sizing: border-box;
  }
  .fd_dark .u-footer{
    background-color: #171b24;
  }
  /*top border*/
  .u-footer::before {
    height: 0.1875rem;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e95420;
    content: "";
    position: absolute;
  }
  
  .u-footer__row {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 68rem;
    margin: auto;
  }
  
  .u-footer--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  
  .u-footer--nav--part:not(:last-child) {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .u-footer--title {
    font-size: 1em;
    font-weight: normal;
    padding: 0 0 0.25rem;
    margin: 0;
  }
  
  .u-footer--title > a {
    color: inherit;
  }
  
  .u-footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .u-footer-list > li {
    display: block;
  }
  
  .u-footer-list > li > a {
    display: block;
    color: inherit;
  }
  
  .u-footer--divider {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-collapse: separate;
    height: 0;
    margin-top: 2rem;
  }
  
  @media screen and (min-width: 55rem) {
    .u-footer__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .u-footer__row--content {
      width: 60%;
    }
    .u-footer__row--social {
      width: 40%;
    }
    .social-icons {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  
  .u-inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .u-inline-list--item {
    display: inline-block;
  }
  
  .u-inline-list--link {
    display: inline-block;
    color: inherit;
    padding: 0.5rem 0.25rem;
  }
  
  .u-footer--copyright-text {
    margin: 1.5rem 0 0;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .social-icons--link {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-left: 1rem;
    background: #666;
    border-radius: 50%;
    text-align: center;
  }
  
  .social--svg-icon {
    width: 1em;
    height: 1em;
    fill: #fff;
    vertical-align: middle;
  }
  .u-footer--go-top {
    display: none;
  }
  
  .u-footer--go-top--link {
    color: #666;
    padding: 0.5rem 1.5rem;
    display: block;
  }
  .u-footer--go-top--icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  @media screen and (max-width: 55rem) {
    .u-footer {
      padding-top: 0;
    }
    .u-footer--go-top {
      display: block;
      margin: 0 0 1rem;
      border-bottom: 1px solid #666;
    }
    .u-inline-list--link,
    .u-inline-list--item {
      display: block;
      padding: 0;
      font-size: 0.875rem;
    }
    .social-icons {
      margin-top: 1rem;
    }
  }
  
  
  